
*.pyc
.ipynb_checkpoints/

*.tar.gz

# ignore personal IDE settings
.vscode

model/*.*
!model/.gitkeep

# ignore the installation of tensorflow/models
code/models/*.*

data/annotations/*.*
!data/annotations/.gitkeep

data/unverified_annotations/*.*
!/data/unverified_annotations/.gitkeep

data/jpeg_images/*.*
!data/jpeg_images/.gitkeep

data/tarball_extract/*.*
!data/tarball_extract/.gitkeep

data/tarballs/*.*
!data/tarballs/.gitkeep

data/tfrecords/train/*.*
data/tfrecords/test/*.*
data/tfrecords/val/*.*
!data/tfrecords/train/.gitkeep
!data/tfrecords/test/.gitkeep
!data/tfrecords/val/.gitkeep



code/ckpt/*.*
!code/ckpt/.gitkeep
code/ckpt/checkpoint
code/ckpt/eval_0/
code/ckpt/export/

code/tfrecords/*.*
!code/tfrecords/.gitkeep

code/tfrecords/train/*.tfrecord
!code/tfrecords/train/.gitkeep

code/tfrecords/val/*.tfrecord
!code/tfrecords/val/.gitkeep

trained_model/*.*
!trained_model/.gitkeep

